<div>



    <div class="container" ng-show="error==4" style="padding-top: 97px;">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="padding-bottom: 50px">
                    <label style="color: red;font-size: 30px;font-family:Avenir-Book;">{{error_message}}</label>
                </div>
            </div>
        </div>
    </div>

    <div class="container" ng-show="set">


        <div class="row" style="padding-top: 97px">
            <div class="col-md-12 direction-row-row-center-column-between" style="height: 70px;background-color:#E1E1E1;font-size: 30px;font-family: Avenir-Medium">
                <div>Current Projects</div>
            </div>
        </div>

        <div class="row" ng-show="ongoing.length==0" style="padding-top: 40px" >
            <div class="col-md-12 direction-row-row-center-column-center">
                <div style="font-size: 20px">No Current Projects</div>
            </div>
        </div>

        <div class="row"  ng-show="ongoing.length!=0"  >
            <div class="col-md-6" ng-repeat="project in ongoing" ng-show="$index<limit.ongoing" style="padding: 50px 0;">
                <div class="row">
                    <div class="col-md-4 direction-column-row-center-column-between" style="width:200px;height: 260px">



                        <img src="assets/default.png" height="170px" width="170px"  class="img-rounded" ng-show="project.imageLoaded==0">
                        <img ng-src="{{project.customer_image_path}}}" height="170px" width="170px"  class="img-rounded" imageonload="project.imageLoaded=1;" ng-show="project.imageLoaded==1">

                        <button type="button" class="btn btn-primary btn-block rounded"  style="width:170px;height:50px;font-family:Avenir-Light;" ui-sref="SP.viewEngagement({projectId:project._id,engId:project.engagementsData[0]._id,ancestor:'fromProject'})">View</button>


                    </div>
                    <div class="col-md-8" style="padding-left:15px;padding-right: 35px">
                        <div class="row">
                            <div class="col-md-12" style="font-size: 30px">
                                {{project.subCategoryName}}
                            </div>
                        </div>
                        <div class="row" style="padding-top: 20px">
                            <div class="col-md-12" style="font-size: 20px;">
                                <div>{{project.customer_first_name}} {{project.customer_last_name}}</div>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 30px;font-size: 20px">
                            <div class="col-md-12 wordwrap">Start Date  : {{project.projectCreatedDateTime | date :"mediumDate"}}</div>
                        </div>


                    </div>

                </div>

            </div>
        </div>

        <div class="row" ng-show="ongoing.length>4" style="padding-top: 40px" >
            <div class="col-md-12 direction-row-row-center-column-center">
                <div class="link" style="font-size: 20px" ng-if="limit.ongoing==4" ng-click="limit.ongoing=ongoing.length"   >View More <img src="assets/open_arrow_btn.png"></div>
                <div class="link" style="font-size: 20px" ng-if="limit.ongoing==ongoing.length" ng-click="limit.ongoing=4"   >View Less <img src="assets/close_arrow_btn.png"></div>
            </div>
        </div>

        <div class="row" style="padding-top: 50px">
            <div class="col-md-12 direction-row-row-center-column-between" style="height: 70px;background-color:#E1E1E1;font-size: 30px;font-family: Avenir-Medium">
                <div>Completed Projects</div>
            </div>
        </div>

        <div class="row" ng-show="completed.length==0" style="padding: 40px 0px" >
            <div class="col-md-12 direction-row-row-center-column-center">
                <div style="font-size: 20px">No Completed Projects</div>
            </div>
        </div>

        <div class="row"  ng-show="completed.length!=0"  >
            <div class="col-md-6" ng-repeat="project in completed" ng-show="$index<limit.completed" style="padding: 50px 0;">
                <div class="row">
                    <div class="col-md-4 direction-column-row-center-column-between" style="width:200px;height: 260px">

                        <img src="assets/default.png" height="170px" width="170px"  class="img-rounded" ng-show="project.imageLoaded==0">
                        <img ng-src="{{project.customer_image_path}}}" height="170px" width="170px"  class="img-rounded" imageonload="project.imageLoaded=1;" ng-show="project.imageLoaded==1">


                    </div>
                    <div class="col-md-8" style="padding-left:15px;padding-right: 35px">
                        <div class="row">
                            <div class="col-md-12" style="font-size: 30px">
                                {{project.subCategoryName}}
                            </div>
                        </div>
                        <div class="row" style="padding-top: 20px">
                            <div class="col-md-12" style="font-size: 20px;">
                                <div>{{project.customer_first_name}} {{project.customer_last_name}}</div>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 15px;font-size: 20px">
                            <div class="col-md-12 wordwrap">Start Date  : {{(project.projectCreatedDateTime | date :"mediumDate")}}</div>
                        </div>

                        <div class="row" style="padding-top: 15px;font-size: 20px">
                            <div class="col-md-12 wordwrap">End Date  : {{(project.projectCompletedDateTime | date :"mediumDate")}}</div>
                        </div>


                    </div>

                </div>

            </div>
        </div>

        <div class="row" ng-show="completed.length>4" style="padding: 40px 0px" >
            <div class="col-md-12 direction-row-row-center-column-center">
                <div class="link" style="font-size: 20px" ng-if="limit.completed==4" ng-click="limit.completed=completed.length"  >View More <img src="assets/open_arrow_btn.png"></div>
                <div class="link" style="font-size: 20px" ng-if="limit.completed==completed.length" ng-click="limit.completed=4"  >View Less <img src="assets/close_arrow_btn.png"></div>
            </div>
        </div>
    </div>



</div>